@font-face {
  font-family: Cairo;
  src: url("../public/Cairo-Regular.ttf");
}
@font-face {
  font-family: Rubik;
  src: url("../public/Rubik-Regular.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

iframe {
  width: 100vw;
  height: 100vh;
}

.cairo {
  font-family: Cairo;
  direction: rtl;
}

.rubik {
  font-family: Rubik;
  /* direction: rtl; */
}

svg {
  background-color: white;
}
