{
  "presets": [
    ["@babel/preset-env", {
      "loose": true,
      "targets": {
        "node": "8.11.3"
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "dynamic-import-node-babel-7"
  ]
}
