{
  "presets": [
    ["env", {
      "loose": true,
      "modules": false,
      "targets": {
        "node": "8.11.3",
        "browsers": ["last 2 versions", "IE 11"]
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["transform-class-properties", { "loose": true }]
  ]
}
