language: node_js

node_js:
  - '10'

os:
  - linux

addons:
  apt:
    sources: ['ubuntu-toolchain-r-test']
    packages: ['g++-4.9']

cache:
  yarn: true
  directories:
    - node_modules

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export CXX=g++-4.9 ; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export CFLAGS="$CFLAGS -std=c99" ; fi
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH

install:
  - yarn

script:
  - yarn test
