language: node_js

node_js:
 - '8'
 - '7'
 - '6'

os:
 - osx
 - linux

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.9.3

matrix:
  fast_finish: true

cache:
  yarn: true
  directories:
  - node_modules

before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH

install: yarn --frozen-lockfile

script: yarn test
