{
  "parser"  : "babel-eslint",
  "extends" : [
    "airbnb"
  ],
  "plugins": [],
  "env": {
    "es6" : true,
    "browser" : true,
  },
  "rules": {
    "arrow-parens": 0,
    "object-curly-newline": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "react/require-default-props": 0,
  }
}
