name: CI

env:
  FORCE_COLOR: 2
  NODE: 14

on:
  pull_request:
    branches:
      - master

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE }}
          cache: 'yarn'
      - name: Install dependencies
        run: yarn --immutable
      - name: Build workspaces
        run: yarn workspaces foreach -p -j 2 --exclude @react-pdf/yoga run build
      - name: Run tests
        run: yarn test
