name: Release

on:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 2
  HUSKY: 0
  NODE_VERSION: 20

jobs:
  test:
    name: Run tests (Node.js ${{ matrix.node_version }}; React ${{ matrix.react_version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # We aim to test all maintained LTS versions of Node.js as well as the latest stable version
        node_version: [18, 20, 21]
        react_version: [16, 17, 18, 19]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache Yarn cache
        uses: actions/cache@v4
        env:
          cache-name: yarn-cache
        with:
          path: ~/.cache/yarn
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}

      - name: Install dependencies and build
        run: yarn --frozen-lockfile

      - name: Run tests
        run: REACT_VERSION=${{ matrix.react_version }} yarn test

  release:
    # Prevents this action from running on forks
    if: github.repository_owner == 'diegomura'
    name: Create Release PR or Publish to npm
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0

      - name: Cache Yarn cache
        uses: actions/cache@v4
        env:
          cache-name: yarn-cache
        with:
          path: ~/.cache/yarn
          key: ${{ runner.os }}-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ env.cache-name }}-

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies and build
        run: yarn --frozen-lockfile

      - name: Create Release PR or Publish to npm
        uses: changesets/action@v1
        with:
          # This expects you to have a script called release which does a build for your packages and calls changeset publish
          publish: yarn release
          version: yarn version-packages
          commit: 'chore: release packages'
          title: 'chore: release packages'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
